<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/dashboard.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	<p>{{user.class}} {{user.name}} 님 환영합니다!</p>
	{% if ipInfo.length !== 0%}
	{% for item in ipInfo %}
	{% if item.registed_ip === ip %}
		<p>{{item.registed_ip}} / {{item.user_location}} 에서 접속중</p>
	{% endif %}
	{% endfor %}
	{% else %}
	<p> IP 정보를 등록해 주세요</p>
	{% endif %}
	<a href="/auth/logout">로그아웃</a>
	<a href = "/room/room_create">방 만들기</a>
	<a href = "/auth/update_ip">IP 관리</a>
	
	{% for room in roomList %}
		<li><a href = "/room/{{room.room_id}}/check_pw">{{room.room_name}}</a></li>
	{% endfor %}
	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>