<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/index.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	
	<div id = "body-rapper">
		<div id = "left-container"></div>
		<div id = "right-container">
			<div id = "form-rapper">
				<form id="login-form" action="/auth/login" method="post">
					  <input class = "input-group" id="email" type="email" name="email" placeholder="email" required autofocus>
					  <input class = "input-group" id="password" type="password" name="password" placeholder="password" required>

					<a id="join" href="/" class="btn">회원가입</a>
					<a id="find-id-pw" href="/" class="btn">아이디/비밀번호 찾기</a>
					<button id="login" type="submit" class="btn">로그인</button>
			
				  </form>
			</div>
		</div>
	</div>
	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>