<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/join.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	
	<form id="sign-up-form" action="/room/room_create" method="post">
		<input class = "input-group" id="room_name" type="text" name="room_name" placeholder="방 이름" autofocus>
		<input class = "input-group" id="room_pw" type="password" name="room_pw" placeholder="방 비밀번호">
		<input class = "input-group" id="dog_tag_name" type="hidden" name="dog_tag_name" value={{user.dog_tag_name}}>
		<button id="sign-up" type="submit" class="btn">방만들기</button>
	</form>
	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>