<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/room.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	<p>{{roomInfo.room_name}} 에 오신걸 환영합니다.</p>
	<p>{{adminInfo.rank}} {{adminInfo.class}} {{adminInfo.name}}</p>
	<p>접속자 IP : {{ip}}</p>
	
	{% if adminInfo.dog_tag_name === user.dog_tag_name %}
	<a href = '/auth/update_room_option/{{roomInfo.room_id}}'>방 옵션 변경하기</a>

	{% else %}

	{% endif %}

	<p>허가된 그룹 명</p>
	{% for department in accessInfo %}
	<ul>
		<li>{{loop.index}}. {{department.allow_department}} </li>
	</ul>
	{% endfor %}
	
	<div id="file-wrapper">
		
	</div>
	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>