<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/join.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	
	<div id = "body-wrapper">
		<div id = "left-container"></div>
		<div id = "right-container">
			<div id = "form-wrapper">
				<form id="sign-up-form" action="/auth/join" method="post">
					<input class = "input-group" id="email" type="text" name="email" placeholder="email" autofocus>
					<input class = "input-group" id="password" type="password" name="password" placeholder="password" required>
					<input class = "input-group" id="rank" type="text" name="rank" placeholder="직책" required>
					<input class = "input-group" id="class" type="text" name="className" placeholder="계급" required>
					<input class = "input-group" id="name" type="text" name="name" placeholder="성함" required>
					<input class = "input-group" id="operator" type="text" name="operator" placeholder="작전사" required>
					<input class = "input-group" id="division" type="text" name="division" placeholder="사단" >
					<input class = "input-group" id="battalion" type="text" name="brigade" placeholder="여단" >
					<input class = "input-group" id="battalion" type="text" name="battalion" placeholder="대대" >
					<input class = "input-group" id="department" type="text" name="department" placeholder="부서" required>
					<button id="sign-up" type="submit" class="btn">가입하기!</button>
				</form>
			</div>
		</div>
	</div>
	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>