<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>2022ARMY</title>
	<link rel="stylesheet" href="/custom_css/join.css">
</head>
<body>
	<header>39사단 117여단 3대대 통신소대 전산병 상병 반영환</header>
	<form action = "update_ip" method = "post">
		<input class = "input-group" id="user_location" type="text" name="user_location" placeholder="자리 이름" autofocus>
		<button id="sign-up" type="submit" class="btn">등록하기</button>
	</form>

	
	<footer>2022년 5월 21일</footer>




	
</body>
</html>