body {
	display :flex;
	flex-direction : column;
	
	align-items : center;
	
	width : 100vw;
	height : 100vh;
	margin : 0;
}

a {
	text-decoration : none;
	color : black;
}

#header {
	
	
	width : 100vw;
	height : 20vh;
	
	background-image : url("../goodguns.jpg");
	background-size : contain;
	background-repeat : no-repeat;
	background-position : center center;
}

#menu {
	display : block;
	
	width : 100vw;
	height : 3vh;
	
	border-top : 2px solid grey;
	border-bottom : 2px solid grey;
	
	text-align : center;
	
	font-size : 20px;
}

#dashboard {
	width : 60vw;
	height : 60vh;
	
	
	border : 2px solid red;
}

.content {
	width : 200px;
	height : 300px;
	border : 2px solid blue;
	
	display : flex;
	flex-direction : column;
	
	margin : 15px;
	
}

.thumbnail {
	background-image : url("../goodguns.jpg");
	background-size : contain;
	background-repeat : no-repeat;
	background-position : center center;
	
	
}

#signout_btn {
	display : block;
	
}